body {
    font-family: "Segoe UI";
}

.credits {
    background-image: url('images/webio.png');
    width: 145px;
    height: 30px;
}

.credits-app {
background-image: url('images/bg-footer-credits.png');
width: 135px;
height: 43px;
}

textarea {
    width: 98%;
    resize: vertical;
    border-radius: 10px;
    padding: 10px;
    color: #666;
    font-family: Consolas, Andale Mono, Courier New, monospace;
}

#no-csharp {
    color: red;
}