body {
    font-family: "Segoe UI";
}

.credits {
    background-image: url('images/webio.png');
    width: 145px;
    height: 30px;
}

.credits-app {
background-image: url('images/bg-footer-credits.png');
width: 135px;
height: 43px;
}

textarea {
    width: 98%;
    resize: vertical;
    border-radius: 10px;
    padding: 10px;
    color: #666;
    font-family: Consolas, Andale Mono, Courier New, monospace;
}

.editor {
    
  margin-bottom: 9px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

#no-csharp {
    color: red;
}