<div class="row" style="padding-top: 30px">
    <div class="span12">
        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#options">Options</a>
                </div>
                <div id="options" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row">
                            <div class="span4">
                                <label class="checkbox">
                                    <input type="checkbox" id="publicOnly" value="publicOnly" checked="checked">
                                    Only public Properties
                                </label>
                            </div>
                            <div class="span4">
                                <label class="checkbox">
                                    <input type="checkbox" id="publicGetter" value="publicGetter" checked="checked">
                                    Only with public Getter
                                </label>
                            </div>
                            <div class="span3">
                                <label class="checkbox">
                                    <input type="checkbox" id="sortProps" value="sortProps">
                                    Sort properties alphabetically
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label class="checkbox" rel="popover" data-original-title="Generating default initializers"
                                    data-content="If selected, generated ko will look like <code>if (data) { /**/ } else { /*init with defaults*/ }</code>">
                                    <input type="checkbox" id="includeDefaultData" value="includeDefaultData">
                                    Include Default Data
                                </label>
                            </div>
                            <div class="span4">
                                <label class="checkbox">
                                    <input type="checkbox" id="includeEnums" value="includeEnums">
                                    Include Enums
                                </label>
                            </div>
                            <div class="span3">
                                <label class="checkbox">
                                    <input type="checkbox" id="includeEmptyType" value="includeEmptyType">
                                    Include empty types
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label class="checkbox" rel="popover" data-original-title="Use camelCase for ko instead of C# class Property name"
                                    data-content="If selected, C# class properties Names will not be changed, but ko properties will be translated to <code>camelCase</code>.">
                                    <input type="checkbox" id="camelCase" value="camelCase" checked="checked">
                                    Use camelCase for ko
                                </label>
                            </div>
                            <div class="span3">
                                <label class="checkbox" rel="popover" data-original-title="Use camelCase on everything"
                                    data-content="If selected, C# class and ko properties Names will be transleted to <code>camelCase</code>.">
                                    <input type="checkbox" id="forceCamelCase" value="forceCamelCase">
                                    Use camelCase for everything
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="span12">
        <div class="editor">    
            <textarea id="csharp" rows="10" placeholder="Enter or Paste C# Class">// Your code goes here.</textarea>
        </div>

    </div>

</div>
<div class="row">
    <div class="span7">
        <button id="generate" 
                class="btn btn-primary btn-large" 
                data-url="@Url.Action("Index")"
                data-toggle="button" 
                data-loading-text="generating Knockout VM..."
                >
            Generate
        </button>
        
        <img id="loading" style="display: none;" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Generating Knockout JS View Model">
        <span id="no-csharp" class="help-inline" style="display: none;">
            The dark side clouds
            everything. Impossible to see the future is - just add some code and try again
        </span>
    </div>
    <div class="span5 right">
        @*<button class="btn large" id="show-about" rel="twipsy" data-original-title="about / info">
            ?</button>
        <button class="btn large" id="show-feedback" rel="twipsy" data-original-title="i love feedback!">
            !</button>*@
        
    </div>
</div>

<div class="row" style="padding-top: 20px">
    <div class="span12 alerts">
    </div>
</div>
