
<div class="row" style="padding-top: 30px">
    <div class="span12">
        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#options">Options</a>
                </div>
                <div id="options" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                        ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                        truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                        a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    
    <div class="span12">
        
        <textarea id="csharp" rows="10" placeholder="Enter or Paste C# Class"></textarea>

    </div>

</div>
<div class="row">
    <div class="span7">
        <button id="generate" 
                class="btn btn-primary btn-large" 
                data-url="@Url.Action("Index")"
                data-toggle="button" 
                data-loading-text="generating Knockout VM..."
                >
            Generate
        </button>
        
        <img id="loading" style="display: none;" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Generating Knockout JS View Model">
        <span id="no-csharp" class="help-inline" style="display: none;">
            I see dead code - add some and try again
        </span>
    </div>
    <div class="span5 right">
        @*<button class="btn large" id="show-about" rel="twipsy" data-original-title="about / info">
            ?</button>
        <button class="btn large" id="show-feedback" rel="twipsy" data-original-title="i love feedback!">
            !</button>*@
        
    </div>
</div>

<div class="row" style="padding-top: 20px">
    <div class="span12 alerts">
    </div>
</div>
