
<div class="row" style="padding-top: 30px">
    <div class="span12">
        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#options">Options</a>
                </div>
                <div id="options" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row">
                            <div class="span2">
                                <label class="checkbox">
                                    <input type="checkbox" id="publicOnly" value="publicOnly" checked="checked">
                                    Only public Properties
                                </label>
                            </div>
                            <div class="span2">
                                <label class="checkbox">
                                    <input type="checkbox" id="publicGetter" value="publicGetter" checked="checked">
                                    Only with public Getter
                                </label>
                            </div>
                            <div class="span2">
                                <label class="checkbox">
                                    <input type="checkbox" id="includeEnums" value="includeEnums">
                                    Include Enums
                                </label>
                                <p class="help-block">
                                    <strong>Note:</strong> Not yet implemented.
                                </p>
                            </div>
                            <div class="span2">
                                <label class="checkbox" 
                                       rel="popover" 
                                       data-original-title="Generating default initializers" 
                                       data-content="If selected, <code>if (data) { data = {} }</code> will be converted to initialize view model if data exists: <code>if (!data) { self.x = ko.observable() }</code>">
                                    <input type="checkbox" id="dataIf" value="dataIf">
                                    Include data If
                                </label>
                                <p class="help-block">
                                    <strong>Note:</strong> Not yet implemented.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    
    <div class="span12">
        
        <textarea id="csharp" rows="10" placeholder="Enter or Paste C# Class"></textarea>

    </div>

</div>
<div class="row">
    <div class="span7">
        <button id="generate" 
                class="btn btn-primary btn-large" 
                data-url="@Url.Action("Index")"
                data-toggle="button" 
                data-loading-text="generating Knockout VM..."
                >
            Generate
        </button>
        
        <img id="loading" style="display: none;" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Generating Knockout JS View Model">
        <span id="no-csharp" class="help-inline" style="display: none;">
            I see dead code - add some and try again
        </span>
    </div>
    <div class="span5 right">
        @*<button class="btn large" id="show-about" rel="twipsy" data-original-title="about / info">
            ?</button>
        <button class="btn large" id="show-feedback" rel="twipsy" data-original-title="i love feedback!">
            !</button>*@
        
    </div>
</div>

<div class="row" style="padding-top: 20px">
    <div class="span12 alerts">
    </div>
</div>
